<h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
<h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>

<a href="/{{site.github.repository_name}}/autor" class="btn">O autorze</a>
<a href="/{{site.github.repository_name}}/prawdopodobnie" class="btn">Prawdopodobnie wszystko jest inaczej</a>
<a href="/{{site.github.repository_name}}/czasoprzestrzen" class="btn">Krótka rozprawa o czasoprzestrzeni</a>
<a href="/{{site.github.repository_name}}/dodatki" class="btn">Dodatkowe informacje</a>
<a href="/{{site.github.repository_name}}/kontakt" class="btn">Kontakt</a>
