<span class="flags">
  <a class="flag" href="https://cz.improbable.info/"><img src="/assets/img/cz.jpg" alt="cz"></a>
</span>

<h1 class="project-name"><a href="/">{{ site.title | default: site.github.repository_name }}</a></h1>
<h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>

<a href="/autor" class="btn">O autorze</a>
<a href="/prawdopodobnie" class="btn">Prawdopodobnie wszystko jest inaczej</a>
<a href="/czasoprzestrzen" class="btn">Krótka rozprawa o czasoprzestrzeni</a>
<a href="/dodatki" class="btn">Dodatkowe informacje, kontakt</a>
