<span class="flags">
  <a class="flag" href="https://en.improbable.info/"><img src="/pl/assets/img/en.jpg" alt="pl"></a>
  <a class="flag" href="https://cz.improbable.info/"><img src="/pl/assets/img/cz.jpg" alt="cz"></a>
</span>

<h1 class="project-name"><a href="/pl/">{{ site.title | default: site.github.repository_name }}</a></h1>
<h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>

<a href="/pl/autor" class="btn">O autorze</a>
<a href="/pl/prawdopodobnie" class="btn">Prawdopodobnie wszystko jest inaczej</a>
<a href="/pl/czasoprzestrzen" class="btn">Krótka rozprawa o czasoprzestrzeni</a>
<a href="/pl/dodatki" class="btn">Dodatkowe informacje, kontakt</a>
