.main-content p {
    text-align: justify;
    /* text-indent: 3em; */ 
}

.page-header h1 a {
    color: #faebd7;
}

.page-header {
    background-color: #073147;
    background-image: url(../img/bgimage-blur.jpg)
}

.btn {
    color: #faebd7;
    background-color: rgba(0,0,0,0.3);
    border-color: rgba(0,0,0,0.2);
}

.btn:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
    border-color: rgba(0,0,0,0.3);
}
